@model AtenasConsultoria.Models.ApiViewModel

@{
    ViewData["Title"] = "CriarLink";
}

<h1>CriarLink</h1>

<h4>ApiViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarLink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unit_price" class="control-label"></label>
                <input asp-for="unit_price" class="form-control" />
                <span asp-validation-for="unit_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="tangible" /> @Html.DisplayNameFor(model => model.tangible)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="enabledCard" /> @Html.DisplayNameFor(model => model.enabledCard)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="free_installments" class="control-label"></label>
                <input asp-for="free_installments" class="form-control" />
                <span asp-validation-for="free_installments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interest_rate" class="control-label"></label>
                <input asp-for="interest_rate" class="form-control" />
                <span asp-validation-for="interest_rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_installments" class="control-label"></label>
                <input asp-for="max_installments" class="form-control" />
                <span asp-validation-for="max_installments" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="enabledboleto" /> @Html.DisplayNameFor(model => model.enabledboleto)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="expires_in" class="control-label"></label>
                <input asp-for="expires_in" class="form-control" />
                <span asp-validation-for="expires_in" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

